# Xcode
DerivedData/
build/
*.xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.resolved

# Rust / Tauri
windows/src-tauri/target/
windows/node_modules/

# Misc
*.swp
*~
